{
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true,
  "useTabs": false,
  "bracketSpacing": true,
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 80,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false,
        "explicitTypes": "always"
      }
    }
  ]
}
